<!DOCTYPE html>
<html>
<head>
  <title>Tuder Signup</title>
  
</head>
<body>
<div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Please Enter Your Full Name</span>
    <input type="text" class="form-control">
  </div>
  
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Are you a tutor or tutee</span>
    <input type="text" class="form-control">
  </div>
  
  <div class="input-group">
    <form method="post" action="/Tests/Post/">      
        <fieldset>      
            <legend>What is Your best subject?</legend>      
            <input type="checkbox" name="favorite_pet" value="Math">Math<br>      
            <input type="checkbox" name="favorite_pet" value="Physics">Physics<br>      
            <input type="checkbox" name="favorite_pet" value="English">English<br>    
            <input type="checkbox" name="favorite_pet" value="Chemistry">Chemistry<br>      
            <input type="checkbox" name="favorite_pet" value="History">History<br>      
            <input type="checkbox" name="favorite_pet" value="Psychology">Psychology<br> 
            <input type="checkbox" name="favorite_pet" value="Music Theory">Music Theory<br>      
            <input type="checkbox" name="favorite_pet" value="Chinese">Chinese<br>      
            <input type="checkbox" name="favorite_pet" value="Spanish">Spanish<br> 
            <input type="checkbox" name="favorite_pet" value="Computer Science">Computer Science<br>      
            <input type="checkbox" name="favorite_pet" value="Sport Nutrition">Sport Nutrition<br>      
            <input type="checkbox" name="favorite_pet" value="Art">Art<br>   
            <br>      
            <input type="submit" value="Submit now" />      
        </fieldset>      
    </form>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Please enter the college you're enrolled in</span>
    <input type="text" class="form-control">
  </div>
  
</body>
</html>