<!DOCTYPE html>
<html>
<head>
  <title>Tuder Signup</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" type="text/css">
</head>
<body>
  <div class="container">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Please Enter Your Full Name</span>
      <input type="text" class="form-control">
    </div>
    
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Are you a tutor or tutee?</span>
      <div>
        <input type="radio" name="tut" value="Tutor" selected>Tutor 
      </div> 
      <div>
      <input type="radio" name="tut" value="Tutee">Tutee
    </div>
    </div>
    
    <div class="input-group">
      <form method="post" action="/Tests/Post/">      
          <fieldset>      
              <legend>What is Your best subject?</legend>      
              <input type="checkbox" name="favorite_pet" value="Math">Math<br>      
              <input type="checkbox" name="favorite_pet" value="Physics">Physics<br>      
              <input type="checkbox" name="favorite_pet" value="English">English<br>    
              <input type="checkbox" name="favorite_pet" value="Chemistry">Chemistry<br>      
              <input type="checkbox" name="favorite_pet" value="History">History<br>      
              <input type="checkbox" name="favorite_pet" value="Psychology">Psychology<br> 
              <input type="checkbox" name="favorite_pet" value="Music Theory">Music Theory<br>      
              <input type="checkbox" name="favorite_pet" value="Chinese">Chinese<br>      
              <input type="checkbox" name="favorite_pet" value="Spanish">Spanish<br> 
              <input type="checkbox" name="favorite_pet" value="Computer Science">Computer Science<br>      
              <input type="checkbox" name="favorite_pet" value="Sport Nutrition">Sport Nutrition<br>      
              <input type="checkbox" name="favorite_pet" value="Art">Art<br>   
              <br>      
              <input type="submit" value="Submit now" />      
          </fieldset>      
      </form>
    </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Please enter the college you're enrolled in</span>
      <input type="text" class="form-control">
    </div>
  </div>
  
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>