<!DOCTYPE html>
<html>
<head>
  <title>Tuder Signup</title>
  <link href ="signup.css" rel = "stylesheet" type="text/css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" type="text/css">
</head>
<body>
  <div class="container">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Please Enter Your Full Name</span>
      <input type="text" class="form-control">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2">Please Enter Email</span>
      <input type="text" class="form-control">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">Please Enter Password</span>
      <input type="text" class="form-control">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon4">Are you a tutor or tutee?</span>
      <div>
        <input type="radio" name="tut" value="Tutor" selected>Tutor 
      </div> 
      <div>
      <input type="radio" name="tut" value="Tutee">Tutee
    </div>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon5">Favorite Attribute?</span>
    <input type="text" class="form-control">
  </div>

    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Please enter the college you're enrolled in</span>
      <input type="text" class="form-control">
    </div>
  </div>
  
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>